<div class="row well">
	<div class="container col-xs-12">
		<h1>2015</h1>
		<hr />
		<!-- Projects -->
		<div class="row">
			<div class="col-md-4">
				<%= image_tag "festival-gear.png", class: "img-responsive img-rounded" %>
				<h3>Festival-Gear</h3>
				<p>Festival-Gear is a festival-folk focused comapny to provide renewable energy
				to festival-goers to reduce enviromental impact</p>
			</div>

			<div class="col-md-4">
			<%= image_tag "solar-gear.png", class: "img-responsive img-rounded"%>
				<h3>Solar-Gear</h3>
				<p>Solar-Gear is a Wearble-Solar-Technology Company aimed to bring solar equipment to the public</p>
			</div>

			<div class="col-md-4">
				<%= image_tag "nest-designs.png", class: "img-responsive img-rounded"%>
				<h3>Nest Designs. inc</h3>
				<p>Client Website for Nest Designs Inc. Suburban home staging</p>
			</div>	
		</div>
		<div class="row">
			<div class="col-md-4">
				<%= image_tag "vmkdaily.png", class: "img-responsive img-rounded"%>
				<h3>Vmkdaily</h3>
				<p>Vmkdaily is a tech blog focsed souley around the education and topics
				of Vmware and associated topics</p>
			</div>

			<div class="col-md-4">
				<%= image_tag "the-experience.png", class: "img-responsive img-rounded" %>
				<h3>Discover Breathe</h3>
				<p>Discover Breathe is an up and coming slackline and discovery festival. Originating from Chicago
				people all across the country come to this event. </p>
			</div>
		</div>
	</div>		
</div>