		<!-- Show Nav -->
<div class="container"> 						<!-- Page Container -->	
	<%= render "resume/header" %> 		<!-- Show Header -->
	
	<%= render "resume/education" %> 	<!-- Start Resume sections -->
	<%= render "resume/software" %>
	<%= render "resume/experience" %>
	<%= render "resume/activities" %>
	<%= render "resume/interests" %>	<!-- End Resume sections -->
	
</div> <!-- Closing div for container --> 

